/* Body light or darker themes */
.body {
  background-image: linear-gradient(100deg, #575656, #062e3f);
  color: #ffdfdb;
  transition: 0.3s linear;
  overflow: hidden;
}

.light {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  color: #1a150e;
  transition: 0.3s linear;
}

.darker {
  background-image: linear-gradient(100deg, #001214, #001f29);
  color: white;
  transition: 0.3s linear;
}
.add-button {
  width: 6rem;
  border: 1px solid yellow;
  background-color: #00b3fff1;
}
